body {
	font-family: Lato;
}
.about {

	box-sizing: border-box;
	&__body {    
		max-width: 823px;
		margin: 0px auto;
		line-height: 1;
    font-size: 14px;
	}

	&__header {    
		margin: 0px 0px 65px 0px;
	}

	&__title {
		margin: 0px 0px 30px 0px;
	
	}

	&__description {
		max-width: 688px;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		line-height: 25.89px;
		margin: 0 auto;
	}

	&__table {    
		display: flex;
		font-size: 0;
		margin: 0 -15px;
	}

	&__column {flex: 0 0 33.333%;
	}
}
.title {
	font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px;
}
.item-about {

	&__icon {
		margin: 0px auto 40px auto;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 2px solid #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	}

	&__title {
		text-align: center;
    color: #000000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.52px;
    margin: 0px 0px 35px 0px;
	}

	&__description {
		text-align: center;
    color: #868585;
    line-height: 26px;
    font-weight: 300;
    font-size: 14px;
	}
}
.title:after {
    content: '';
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #000;
    margin: 0px 0px 0px -25px;
}